body {
  background: #fff;
  font-size: 16px;
  font-family: arial;
}
header {
  background: #283c48;
  box-shadow: 0 5px 0 rgba(0,0,0,0.2);
  color: #fff;
  padding: 0.5em;
  position: relative;
  overflow: hidden;
}
header .logo {
  outline: 1px solid #f00;
  float: left;
  margin-left: 20px;
  width: 280px;
}
header .logo img {
  width: 260px;
}
header nav {
  background: #283c48;
  margin: 0 0 0 55%;
  position: absolute;
  top: 50px;
}
header nav .menu {
  font-size: 1.2em;
  height: 40px;
  line-heigth: 40px;
  margin: 0;
  padding: 0;
}
header nav .menu li {
  display: inline-block;
}
header nav .menu li a {
  color: #fff;
  display: inline-block;
  margin: 0 0.5em;
  padding: 0 0.2em;
  text-decoration: none;
}
footer {
  background: #f60;
  color: rgba(255,255,255,0.5);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer h3 {
  font-size: 14px;
  font-weight: normal;
}
footer h3 strong {
  display: block;
}
footer h3 strong .fecha:before,
footer h3 strong .fecha:after {
  content: " - ";
}
