cabecera = #283C48
azul = #22bce0
body
	background white
	font-size 16px
	font-family arial

header
	background cabecera
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	padding 0.5em
	position relative
	overflow hidden

	.logo
		outline 1px solid red
		float left
		margin-left 20px
		//position absolute
		//left 10px
		width 280px

		img
			width 260px
	nav
		
		background cabecera
		margin 0 0 0 55%
		position absolute
		top 50px

		//float right
		
		.menu
			font-size 1.2em
			height 40px
			line-heigth 40px
			margin 0
			padding 0
			//overflow-x auto
			//white-space nowrap
			li
				display inline-block
				a
					//outline 1px orange solid
					color white
					display inline-block
					margin 0 0.5em
					padding 0 0.2em
					text-decoration none
footer
	background #f60
	color rgba(white,0.5)
	text-align center
	position absolute
	bottom 0
	width 100%

	h3
		font-size 14px
		font-weight normal

		strong
			display block

			.fecha
				&:before
				&:after
					content " - "


			

					
			
				
	